<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
</head>
<body>
[#pdfConfig]
	margin:54 68pt;
	background:159 121 238;
[/#pdfConfig]
<div id="header">
  <div class="header-title">
	<p>[#reportTitle]</p>
	<p style="line-height:26pt;"></p>
  </div>
  
  <div class="header-date">
	<p>[#reportDate] 和讯通编辑部  编</p>
  </div>
  
  <div class="divideLine">
	<hr></hr>
  </div>
</div> 

<div class="overview">
	 <div class="overviewTitle">[#overviewTitle]</div>
	 [#overviewModule]
	 <div class="overviewsModule-name">
		<span class="symbol">&#9632;</span>
		[#overviewName]
	 </div>
	 <div class="overviewModule-content">
		[#overviewContent]
	 </div>
	 [/#overviewModule]
</div>
  
<div class="catalog">
	 <p class="catalogname">目录</p>
	 [#catalog]
	 <div>
		<div class="catalog-module-name">
				[#moduleName]
		</div>
		<div class="catalog-module-title">
			<ol>
				<li>
					[#newsTitle][#media]
				</li>
			</ol>
		</div>
	 </div>
	 [/#catalog]
</div>
  
  
<div class="content">
[#content]
  <div class="c-module">
	<div class="c-module-name">
		[#moduleName]
		[#subModuleName]<p class="subModuleName">【[#subModuleNameValue]】</p>[/#subModuleName]
	</div>
	<div class="c-module-title">
	  	[#newsTitle]
	</div>
	<div class="c-module-content">
		<p>[#newsContent]</p>
	</div>
  </div>
[/#content]
</div>	

<div class="attach">
	<div class="attach-word">
		附件:
	</div>
	<p class="attach-title">
		本周重要新闻详情表
	</p>
	<div>
		<table class="attach-table">d
			<tr class="thead">
					 <td style="width: 140pt;">
					 	新闻标题
					 </td>
					 <td style="width: 200pt;">
					 	链接地址
					 </td>
					 <td style="width: 80pt;">
					 	发布时间
					 </td>
					 <td style="width: 60pt;">
					 	作者
					 </td>
			</tr>
			
			[#attach]newsTitle|newsHref|newsPublishDate|newAuthor[/#attach]
		</table>
	</div>
</div>
	
</body>
</html>
