body {
	width: 980px;
	margin: 68pt 54pt 68pt 54pt;
}

.header-title {
	font-family: "FZXiaoBiaoSong";
	font-size: 36pt;
	text-align: center;
	color: rgb(255, 0, 0);
}

.header-date {
	font-family: "MicrosoftYaHei";
	font-size: 12pt;
	text-align: center;
}

.file {
	border: 4px solid #FFA500;
}

.divideLine {
	padding-top: 5px;
	padding-bottom: 15px;
}

hr {
	height: 2px;
	border: none;
	border-top: 2px solid;
	color: rgb(255, 0, 0);
}

.overviewTitle {
	font-family: "HeiTi";
	font-size: 16pt;
	font-style: italic;
	font-weight: bold;
}

.symbol {
	font-family: arial;
	font-size: 12pt;
}

.name-dot {
	font-family: arial;
	font-size: 14pt;
	font-weight: bold;
}

.name-dot2 {
	font-family: arial;
	font-size: 14pt;
}

.overviewsModule-name {
	font-family: "KaiTi";
	font-size: 14pt;
	font-weight: bold;
}

.overviewModule-content {
	font-family: "KaiTi";
	font-size: 14pt;
	padding-left: 13pt;
}

.catalog {
	
}

.catalogname {
	font-family: "HeiTi";
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 10px;
}

.catalog-module-name {
	font-family: "HeiTi";
	font-size: 14pt;
	font-weight: bold;
	padding-bottom: 8pt;
	padding-top: 10pt;
}

.catalog-module-title {
	font-family: "KaiTi";
	font-size: 12pt;
	padding-left: 10pt;
}

.content {
	padding-top: 50pt;
	padding-bottom: 30pt;
}

.c-module-name {
	font-family: "HeiTi";
	font-size: 16pt;
	font-weight: bold;
	padding-top: 15pt;
}

.c-module-title {
	font-family: "KaiTi";
	font-size: 14pt;
	font-weight: bold;
	padding-top: 15pt;
	padding-bottom: 12pt;
}

.c-module-content {
	font-family: "KaiTi";
	font-size: 14pt;
	padding-left: 22pt;
}

.c-module-content p {
	line-height: 25pt;
}
.attach-title{
	font-family:"HuaWenZhongSong";
	font-size: 16pt;
	font-weight: bold;
	text-align: center;
	padding-bottom: 8pt;
	padding-top: 5pt;
}
.attach-word{
	font-family:"KaiTi";
	font-weight: bold;
	font-size: 16pt;
}
.attach-table td{
	font-family: "FangSong";
	border: 1px solid #1C1C1C;
	padding:0pt;
	margin:0pt;
	font-size:10pt;
}
.thead td{
	padding-top:10pt;
	padding-bottom:10pt;
	text-align: center;
	background: #CFCFCF;
}
.subModuleName{
	font-family: "HeiTi";
	font-size:12pt;
}

